b, blockquote, body, code, dd, dfn, div, dl, dt, em,
h1, h2, h3, h4, h5, h6, html, img, li, ol, p, span, strong,
table, tbody, td, tfoot, th, thead, tr, ul{
    margin:0;
    padding:0;
}
a, a:visited, abbr, cite, q {
  text-decoration: none;
}
dl,ul,ol,li{
    list-style:none
}

img{
    border:none;
    position:relative;
}

a{
    color:#000
}
a img{
    border:0
}

button,input,select,textarea{
    appearance:none;
    border-radius:0;
}

html{
   box-sizing: border-box;
    margin:0;
}
*, *::before, *::after {
     box-sizing: inherit;
    overflow-wrap: break-word;
}
 body{
    background:#fff;
    color:#000;
    font:15px/1.4em Arial,sans-serif;
    margin:0;
    padding:0;
}
.rw{
    margin:0 auto;
    padding:0 20px;
    position:relative;
    width:86%;
}
 .cw{
    overflow:hidden;
    padding-top:25px
}
 .mw,.mwr{
 padding:0;
    position:relative;
    width:100%;
}
 .mwr{
 float:left;
    max-width:67.57%
}
 .asi{
    float:right;
    position:relative;
    width:30.2%;
}
 .imgi{
    display: block;
    height: auto;
    max-width: 100%;
}
 .hw{
    height: 50px;
    margin: 0;
    position: relative;
    width: 100%;
    z-index: 50;
}
 .hh{
    background:  #fff;
    box-shadow: 0 0 5px 2px #999;
    height: 50px;
    position: fixed;
    width: 100%;
}
 .hme{
    display:flex;
    margin:0 auto
}


.nvac .mobm{
background: #fff;
bottom: 0;
display: flex;
flex-direction: column;
left: 0;
overflow-x: hidden;
overflow-y: auto;
position: fixed;
top: 50px;
width: 100%;
z-index: 49;

}

.nvac .mnm{
	     display:block;
		 padding-left: 20px;
}
	
 .mnm{
    display: flex;
    padding-left: 70px;
}


 .mnm a{
    color: #0e303b;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    margin-right: 14px;
    padding: 5px 0;
}
 .mnm a:hover{
    border-bottom:2px solid
}
 .mmt,.mmx{
    background: 0;
    border: 0;
    cursor: pointer;
    margin-right: 20px;
}
 .mmt {
    border-bottom: 9px double  #d53a51;
    border-top: 3px solid  #d53a51;
    display: none;
    height: 15px;
    position: relative;
    top: 16px;
    width: 25px;
}
 .nvac .mmt,.mmx{
    display:none
}
 .nvac .mmx{
    position:relative;
    top:-11px;
    width:25px
}
 .mmx:before, .mmx:after{
    background-color: #d53a51;
    content: ' ';
    height: 25px;
    position: fixed;
    width: 3px;
}
 .mmx:before{
    transform:rotate(45deg)
}
 .mmx:after{
    transform:rotate(-45deg)
}
 .mlg{
font-size: 30px;
font-weight: bold;
line-height: 45px;
margin: 0;

}
 .mlg a{
    color: #d53a51
}
 .amr{
    width:45px
}
 .arm{
    border: solid 3px #d53a51;
    border-radius: 100%;
    height: 17px;
    position: absolute;
    right: 28px;
    top: 14px;
    transform: rotate(-45deg);
    width: 17px;
}
 .arm:before{
    background:#d53a51;
    content: '';
    height: 8px;
    left: 4px;
    position: absolute;
    top: 14px;
    width: 3px;
}
 .ctg{
    line-height: 0;
    margin: 0 0 20px;
    width: 100%;
}
.ctghd{
    border-left: 3px solid red;
    line-height: 30px;
    margin: 0;
    padding: 10px;
    width: 100%;
}

 .title{
    border-bottom: 1px solid;
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
 .ipw{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
 .ixp,.rcnt li,.ilg{
    box-shadow:0 0 15px 1px #9999
}
 .ipw{
    margin-bottom:25px;
}
 .apy .ipw{
    grid-template-columns: repeat(3, 1fr);
}
 .apy, .ksf{
    display:grid;
    width:100%
}
 .apy h2,.ksf h2{
    border-top: 3px solid #b50000;
    box-shadow: 0 0 15px 1px #9999;
    font-size: 25px;
    padding: 25px 20px;
}
 .apy h2 a,.ksf h2 a{
    border-left:5px solid #b50000;
    padding:0 10px
}
 .ixp figcaption{
    font-size: 17px;
    font-weight: 700;
    line-height: 25px;
    padding: 10px;
}
.ixp:hover figcaption{
    color:#a01
}
 .mkl{
    display:grid;
	font-size:18px;
    line-height:1.6em;
    margin: 0;
    position: relative;
    width: 100%;
	
}
.mkh{

    border-bottom:1px solid #e6e6e6;
	margin-bottom:25px;
}
h1{ 
    font-size: 2em;
	margin-block: 0.67em;
}

 .mkl h1{
    color: #000;
    font-size: 2em;
	margin-block: 0.67em;
    position: relative;
    width: 100%;
}
.pdt{
    color:#333;
	font-size:13px;
}

.mkl p{
    margin:25px 0
}
 .mkl h2,.mkl h3,.mkl h4,.mkl h5,.mkl h6{
    font-size:21px;
    line-height:1.3em;
    margin:0 0 20px
}
 .mkl h2{
    font-size:23px
}
.mkl img{
    height:auto;
	width:100%;
}
 figure{
    margin:0
}
 .psh,.psh a{
    display:flex;
	width:100%;
    
}

.psh a{
    height:35px;
    margin:20px 6px
}
 .psh svg{
    fill:#fff;
    text-align:center;
    width:100%
}
.fb{
    background:#3b5998
}
.twt{
    background:#5cb4f4
}
 .wtp{
    background:#25d366
}
.tgm{
    background:#E60023
}
 .rcnt li{
    margin-bottom:30px
}
.rcnt img{
    height:auto;
	width:100%;
}
.rcnt figcaption{
font-size: 16px;
font-weight: bold;
padding: 10px;
}
.rcnt a:hover figcaption{
    color:#a01
}
 .bcmb{
    font-size: 15px;
    line-height: 1.5;
    margin: 0 0 20px;
    width: 100%;
}
.bcmb ol{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}
.bcmb li:before{
    content: '/';
    font-size: 15px;
    margin: 0 10px;
    position: relative;
}
.bcmb li:first-child:before{
    display:none
}




 .ilg{
    display:inline-block;
    margin:10px 0;
    width: 100%;
}
 .ilg img{
    float: left;
    margin-right: 20px;
    position: relative;
    width: 30%;
}
 .ilg figcaption{
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
    padding: 30px;
}
 .fwpp{
    position: relative;
    width: 100%;
}
.fbr{
    background:#ddd;
    padding:20px 0
}
.fbr .rw,.flnk{
    display:flex
}
 .flnk li a{
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 0 25px;
    padding: 0;
}
 .nmb{
    float: left;
    margin: 25px 0;
    text-align: center;
    width: 100%;
}
 .nmb ul li{
    display:inline;
    margin:0 5px
}
 .nmb ul li a{
    border: solid 1px #000;
    color: #000;
    font-size: 16px;
    padding: 10px;
}
 .nmb ul li .current{
    background-color: #b50000;
    color: #fff;
    font-size: 17px;
    padding: 10px;
}
 .dots{
    display:none
}
 .nmb ul li a:hover{
    background-color:#b50000;
    color:#fff
}
 @media (min-width: 1600px){
    .rw{
        width:75%
    }
}
 @media (max-width: 1279px){
    .rw{
        margin: 0;
        padding: 0 1rem;
        width: 100%;
    }
    .ipw{
        grid-template-columns: repeat(2, 1fr);
    }
}
	
     @media (max-width: 1023px){
        .mw,.mwr{
            max-width:100%
        }
        .qq{
            display:block
        }
        .mmt,.nvac .mmx{
            display:block
        }
        .mobm{
            display:none
        }
        .mlg{
            text-align: center;
            width: 100%;
        }

        .asi{
            width:100%
        }
    }
     @media (max-width: 767px) {
        .rw{
            padding:0 1rem
        }
        .nvac{
            overflow:hidden;
            position:fixed
        }

        .hh{
            height:48px
        }
        .arm{
            right:11px
        }
        .ipw, .apy .ipw{
            grid-template-columns: 1fr;
        }
        h1{
            font-size:1.5em
        }

        .ilg img{
            margin-right: 5px;
            width: 43%;
        }
        .ilg figcaption{
            font-size:16px;
            padding:5px
        }


        .fbr .rw{
            display:block
        }
        .flnk{
            padding:10px 0
        }
    }
    