{{ partial "head.html" . }}

<div class="rw cw">
  <main class="mwr">
      <article class="mkl">

        <nav aria-label="Breadcrumb" class="bcmb">
          <ol>
            <li><a href="/">home</a></li>
            {{ with .Params.categories }}
              <li><a href="/{{ index . 0 | urlize }}">{{ index . 0 }}</a></li>
            {{ end }}
            <li aria-current="page">{{ .Title }}</li>
          </ol>
        </nav>

        <header class="mkh">
          <h1>{{ .Title }}</h1>

          <div class="pdt">
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">&#8226; Yayınlanma tarihi: {{ .Date.Format "02.01.2006 - 15:04" }}</time>
            {{ if ne .Date .Lastmod }}
              <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">&#8226; Son güncellenme tarihi: {{ .Lastmod.Format "02.01.2006 - 15:04" }}</time>
            {{ end }}
          </div>
        </header>

        {{ .Content }}

      </article>
	  <div class="psh">
        
        
        <a aria-label="Facebook Share" class="fb" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | urlquery }}" rel="nofollow noopener" role="button" target="_blank" title="Facebook"><svg viewBox='0 0 50 50'><path d='M26 20v-3c0-1.3.3-2 2.4-2H31v-5h-4c-5 0-7 3.3-7 7v3h-4v5h4v15h6V25h4.4l.6-5h-5z'/></svg></a>
         
<a aria-label="twitter Share" class="twt" href="https://twitter.com/intent/tweet?url={{ .Permalink | urlquery }}&text={{ .Title | urlquery }}"  rel="nofollow noopener" role="button" target="_blank" title='Twitter'><svg viewBox='0 0 64 64'><path d='M60 16l-6 1l4-5l-7 2c-9-10-23 1-19 10C16 24 8 12 8 12s-6 9 4 16l-6-2c0 6 4 10 11 12h-7c4 8 11 8 11 8s-6 5-17 5c33 16 53-14 50-30z'/></svg></a>
        
         <a aria-label="whatsapp Share" class="wtp" href="https://wa.me/?text={{ .Title | urlquery }}%20{{ .Permalink | urlquery }}" rel="nofollow noopener" role="button" target="_blank" title='WhatsApp'><svg viewBox='0 -100 1180 1180'><path d='M544 960q-124 0-233-60L0 1024l124-311Q64 604 64 480q0-98 38-186.5t102.5-153T357.5 38T544 0t186.5 38t153 102.5t102.5 153t38 186.5t-38 186.5t-102.5 153t-153 102.5T544 960zm160-384h-64l-36 32q-45-12-110.5-77.5T416 420l32-36v-64q0-17-12-34t-26.5-24.5T389 260l-47 47q-39 39-11.5 121.5t105 160t160 105T717 682l47-47q6-6-1.5-20.5T738 588t-34-12z'/></svg></a>
         
  <a aria-label="telegram Share" class="tgm" href="https://pinterest.com/pin/create/button/?url={{ .Permalink | urlquery }}&media={{ .Params.featured_image | absURL | urlquery }}&description={{ .Title | urlquery }}"  rel="nofollow noopener" role="button" target="_blank" title="Telegram"><svg viewBox="0 0 512 512" ><path d="m265 65c-104 0-157 75-157 138 0 37 14 71 45 83 5 2 10 0 12-5l3-18c2-6 1-7-2-12-9-11-15-24-15-43 0-56 41-106 108-106 60 0 92 37 92 85 0 64-28 116-70 116-23 0-40-18-34-42 6-27 19-57 19-77 0-18-9-34-30-34-24 0-42 25-42 58 0 20 7 34 7 34l-29 120a249 249 0 0 0 2 86l3-1c2-3 31-37 40-72l16-61c7 15 29 28 53 28 71 0 119-64 119-151 0-66-56-126-140-126z" /></svg></a>
      </div>
  
  </main>


  {{ partial "sidebar.html" . }}
</div>

{{ partial "footer.html" . }}
