{{- if in (slice "page" "term" "single") .Kind -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Ana Sayfa",
      "item": "{{ .Site.BaseURL }}"
    }
    {{- if or (eq .Kind "page") (eq .Kind "single") -}}
      {{- with index .Params.categories 0 -}},{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ . }}",
        "item": "{{ $.Site.BaseURL }}{{ . | urlize }}/"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "{{ $.Title }}",
        "item": "{{ $.Permalink }}"
      }
      {{- end -}}
    {{- else if eq .Kind "term" -}},{
      "@type": "ListItem",
      "position": 2,
      "name": "{{ .Title }}",
      "item": "{{ .Permalink }}"
    }
    {{- end -}}
  ]
}
</script>
{{- end -}}
