<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "headline": "{{ .Title | htmlEscape }}",
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ with .Lastmod }}{{ .Format "2006-01-02T15:04:05Z07:00" }}{{ else }}{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}{{ end }}",
  "author": {
    "@type": "Person",
    "name": "{{ with .Params.author }}{{ . }}{{ else }}Site Yazar{{ end }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Title | htmlEscape }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.Params.logo | default "/images/logo.png" }}"
    }
  },
  "image": {
    "@type": "ImageObject",
    "url": "{{ with .Params.featured_image }}{{ . }}{{ else }}{{ .Site.Params.defaultImage | default "/images/default.jpg" }}{{ end }}"
  },
  "description": "{{ .Params.description | plainify | htmlEscape }}"
}
</script>
