<aside class="asi">
  <div>
    <span class="title">Son 5 Yazı</span>
    <ul class="rcnt">
      {{ range first 5 (where .Site.RegularPages "Type" "post") }}
      <li>
        <a href="{{ .RelPermalink }}">
          <figure>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAQAAACRI2S5AAAAEElEQVR42mNkIAAYRxWAAQAG9gAKqv6+AwAAAABJRU5ErkJggg==" data-src="{{ with .Params.featured_image }}{{ . }}{{ end }}" class="imgi" alt="{{ .Params.featured_alt }}" width="750" height="422">
            <figcaption>{{ .Title }}</figcaption>
          </figure>
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
</aside>
