{{ partial "head.html" . }}

<div class="rw cw">
  <main class="mw">

    <section class='ksf'>
      <h2><a href='/'>Son Yazılar</a></h2>
      <ul class='ipw'>
        {{ range first 8 (where .Site.RegularPages "Type" "post") }}
        <li class='ixp'>
          <a href="{{ .RelPermalink }}">
            <figure>
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAQAAACRI2S5AAAAEElEQVR42mNkIAAYRxWAAQAG9gAKqv6+AwAAAABJRU5ErkJggg==" data-src="{{ .Params.featured_image }}" class="imgi" alt="{{ .Title }}" width="750" height="422">
              <figcaption>{{ .Title }}</figcaption>
            </figure>
          </a>
        </li>
        {{ end }}
      </ul>
    </section>

{{ $kategori := "oyun" }}
{{ with index site.Taxonomies.categories $kategori }}
<section class='apy'>
  <h2><a href='/kategori/{{ $kategori | urlize }}'>{{ $kategori }}</a></h2>
  <ul class='ipw'>
    {{ range first 6 .Pages }}
    <li class='ixp'>
      <a href="{{ .RelPermalink }}">
        <figure>
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAQAAACRI2S5AAAAEElEQVR42mNkIAAYRxWAAQAG9gAKqv6+AwAAAABJRU5ErkJggg==" data-src="{{ .Params.featured_image }}" class="imgi" alt="{{ .Title }}" width="750" height="422">
          <figcaption>{{ .Title }}</figcaption>
        </figure>
      </a>
    </li>
    {{ end }}
  </ul>
</section>
{{ end }}


  </main>
</div>

{{ partial "footer.html" . }}
