{{ partial "head.html" . }}

<div class="rw cw">
  <main class="mw">

    <section class='ksf'>
      <h2><a href='/'>Son Yazılar</a></h2>
      <ul class='ipw'>
        {{ range $index, $el := first 8 (where .Site.RegularPages "Type" "post") }}
        <li class='ixp'>
          <a href="{{ $el.RelPermalink }}">
            <figure>
              {{ if eq $index 0 }}
                <img
                  src="{{ $el.Params.featured_image }}"
                  class="imgi"
                  alt="{{ $el.Params.featured_alt }}"
                  width="750"
                  height="422"
                  fetchpriority="high"
                >
              {{ else }}
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAQAAACRI2S5AAAAEElEQVR42mNkIAAYRxWAAQAG9gAKqv6+AwAAAABJRU5ErkJggg=="
                  data-src="{{ $el.Params.featured_image }}"
                  class="imgi"
                  alt="{{ $el.Params.featured_alt }}"
                  width="750"
                  height="422"
                >
              {{ end }}
              <figcaption>{{ $el.Title }}</figcaption>
            </figure>
          </a>
        </li>
        {{ end }}
      </ul>
    </section>

    {{ $kategori := "oyun" }}
    {{ with index site.Taxonomies.categories $kategori }}
    <section class='apy'>
      <h2><a href='/kategori/{{ $kategori | urlize }}'>{{ $kategori }}</a></h2>
      <ul class='ipw'>
        {{ range $i, $el := first 6 .Pages }}
        <li class='ixp'>
          <a href="{{ $el.RelPermalink }}">
            <figure>
              {{ if eq $i 0 }}
                <img
                  src="{{ $el.Params.featured_image }}"
                  class="imgi"
                  alt="{{ $el.Params.featured_alt }}"
                  width="750"
                  height="422"
                  fetchpriority="high"
                >
              {{ else }}
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAQAAACRI2S5AAAAEElEQVR42mNkIAAYRxWAAQAG9gAKqv6+AwAAAABJRU5ErkJggg=="
                  data-src="{{ $el.Params.featured_image }}"
                  class="imgi"
                  alt="{{ $el.Params.featured_alt }}"
                  width="750"
                  height="422"
                >
              {{ end }}
              <figcaption>{{ $el.Title }}</figcaption>
            </figure>
          </a>
        </li>
        {{ end }}
      </ul>
    </section>
    {{ end }}

  </main>
</div>

{{ partial "footer.html" . }}
